
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);


*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	
}

h1,h2 ,h3 ,h4{
	font-weight: 600;
}

.centrado{
	width: 70%;
	margin: 0 auto;
}

.alCentro{
	width: 99%;
	margin: 0 auto;
}

.active{
	color: #ffff00!important;
}

header{
	width: 100%;
}


header #logotipo{
	display: inline-block;	
	padding: 10px;	
}

nav ul li{
	display: inline-block;
}

nav.navbar_top{
	
}

nav.navbar_top ul{
	float: left;
	margin-top: 4em;
	margin-left: 2em;		
}

nav .navbar_top ul a{
	padding-left: 2em;
}

nav.navbar_bottom{
	width: 100%;	
	background: #222;
	border-top: 3px solid #E60F0F;
	padding: 2px 0px 2px 0px;
}

nav.navbar_bottom ul {
	padding: 6px 0px;
}

nav.navbar_bottom ul li{
	margin: 0px 10px 0px 10px;
}

nav.navbar_bottom ul a{
	color: #CECECE;
	text-transform: uppercase;	
	
	font-weight: 600;
}

nav.navbar_bottom ul a:hover{
	color: #fff;
}

nav.navbar_bottom ul a:active{
	color: #ffff00;
}

nav form input{
	padding: 5px;
}


nav .organizadores{		
	background-color: #E60F0F;
}

nav .organizadores:hover{	
	background-color: #F23939;
}

#jumbotron{
	height: 25em;
	width: 100%;
	color: #fff;
	float: left;
	background: url("../img/mara3.png") center no-repeat;
	background-size: cover;	
	-webkit-box-shadow: inset 7px 0px 0px 0px #E60F0F;
	-moz-box-shadow: inset 7px 0px 0px 0px #E60F0F;
	box-shadow: inset 7px 0px 0px 0px #E60F0F;
}

#jumbotron article{			
	display: block;
	margin-top: 17em;
	padding: 1em;
	margin-left: 7px;
	background: rgba(0,0,0,0.6);	
		
}

#jumbotron h1{		
	font-size: 3em;
	text-transform: uppercase;	
}

#jumbotron p{	
	text-transform: uppercase;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////                                SECTION INDEX                                ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

section{	
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
}

section#apuntate{	
	float: left;
	width: 75%;
	height: auto;
	overflow: hidden;
}

section.carreras h1{
	margin: 1% 1% 1% 0;
	color: #E60F0F;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: -2px;
	border-bottom: 1px solid #A4A4A4;
}

section.carreras article{	
	width: 46%;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 5px;	
}

section.carreras article img{	
	height: 195px;
	width: auto;	
}

section.grande article img{	
	height: 185px;
	width: auto;	
}

section.grande article{	
	width: 31%;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 5px;	
}

/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////                                 ASIDE INDEX                                 ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

aside{
	margin-top: 1%;	
	float: left;
	width: 25%;
	height: 20em;
}

aside section{
	width: 90%;
	text-align: center;
	margin: 0 auto;	
}

aside section article h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: -2px;
	color: #E60F0F;
	font-weight: 800;
}
aside section article img{
	margin: 0 auto;	

}


/*/////////////////////////////////////////////////////////////////////////////////////////////
/////////                                 MEDIA QUERY                                 ////////
///////////////////////////////////////////////////////////////////////////////////////////// */

 @media only screen and (max-width:1366px){
    .centrado{
    	width: 92%;
    }   

	nav.navbar_bottom ul li{
		margin: 0px 10px 0px 2px;
	}

    nav.navbar_bottom ul a{			
		font-weight: 400;
	}

    #jumbotron h1{		
		font-size: 2em;
	}	

    section{		
		width: 100%;			
	}

	section#apuntate{		
		width: 100%;
	}
	
	aside{		
		display: none;		
	}

	section#apuntate article{
		width: 100%;
	}

	section.carreras article img{	
		height: 125px;
		display: inline-block;
		float: left;
		margin-right: 10px;
	}

	section.grande article img{	
		height: 110px;	
	}



  }